



html,
body {
  position: relative;
  /* height: 100%; */
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
}


/* heder  */
.main-header{
    width: 100%;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    height: 120px;
}
.iner-header{
    width: 80%;
    display: flex;
    margin: auto;
    /* border: 1px solid black; */
    height: 120px;
    align-items: center;
}
.logo{
    margin-left: 30px;
}
.htxt{
    margin-left: 100px;
}
.htxt nav ul li{
    display: inline-block;
    list-style: none;
   
}
.htxt nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px;
}
.icon{
      margin-left: 100px; 
}
.icon a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 2px;
}
.htxt nav ul li a:hover{
     color:red;
}
.icon a:hover{
    color: red;
}


.header-txt{
    background-color: black;
   width: 100%;
   height: 30px;
 
}
.header-txt span{
    font-size: 15px;
    color: #fff;
    margin-left: 400px;
    line-height: 30px;
}
.header-txt a{
    font-size: 15px;
    color: antiquewhite;
}
.header-txt a:hover{
    letter-spacing: 5px;
}



.header-img{
    width: 100%;
    height: 500px;
    display: flex;
    /* border: 1px solid black; */
    background-color: #cef4fb;
    justify-content: space-evenly;
}
.himg{
    height: 490px;
    margin-left: 50px;
}
.himg img{
    height: 100%;
    width: 100%;
}
.itxt{
    width: 50%;
    align-items: center;
    margin-top: 100px;
    /* border: 1px solid black; */
    
}
.itxt h2{
    color: red;
    font-family:French Script MT;
    text-align: center;
    font-size: 40px;
}
.itxt h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.itxt p{
    font-size: 15px;
    padding: 10px;
    /* width: 50%; */
    text-align: center;
}
.itxt button{
    font-size: 18px;
    background-color: black;
    color: #fff;
    padding: 5px;
    width: 100px;
    height: 50px;
    /* margin-left: 00px; */
}  
.itxt button:hover{
    background-color: #cef4fb;
    color: black;
}



.img-div{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.iner-img{
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    /* border: 1px solid black; */
}
.iner-img .photo{
   margin: 12px;
   justify-content: center;
}
.iner-img .photo img{
    width: 335px;
    height: 350px;
}
.iner-img .photo img:hover{
    transform: scale(1.1);
}
.iner-img .photo h3{
    text-align: center;
    color: #fff;
    text-decoration: underline;
    display: none;
    font-weight: bolder;
}
.iner-img .photo a{
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    display: none;
}
.iner-img .photo a:hover{
    word-spacing: 5px;
}




.main{
    width: 80%;
    height: 450px;
    /* border: 1px solid black; */
    margin: auto;
}
.h2{
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}
.main-hed{
    display: flex;
}
.mtxt h2{
    font-size: 30px;
    align-items: center;
    font-weight: lighter;
}
.main-nav{
    margin-left: 500px;
}
.main-nav nav ul li{
    display: inline-block;
    list-style: none;
}
.main-nav nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 7px;
    position: relative;
}
.main-nav nav ul li a::before{
    content: " ";
    background: red;
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -25px;
    left: 0;
    transition: 1s;
}
.main-nav nav ul li a:hover::before{
    width: 100%;
}
.line{
    width: 1075px;
    height: 2px;
    background:grey;
    border-radius: 5px;
}
.main-img{
    display: flex;
}
#main-img{
    margin-left: 125px;
}
.main-img .b img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.b img{
    width: 100%;
    height: 100%;
}
.b h4{
    text-align: center;
    font-size: 13px;
    color: grey;
}
.b h4:hover{
    color: red;
}
.b h5{
    text-align: center;
    font-size: 13px;
    color: grey;
}
.b h5:hover{
    color: black;
}
.b h5 strike{
    color: rgb(253, 219, 169);
}
 





.main-contant{
    background-color: #F3EAD8;
    width: 100%;
}
.contant{
    width: 50%;
    height: 400px;
    margin: auto;
    /* border: 1px solid black; */
}
.contant h2{
    font-size: 30px;
    align-items: center;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
}
.contant p{
    color: gray;
    font-size: 18px;
    padding: 5px;
}
.mesg{
    display: flex;
    margin-left: 200px;
}
.mesg h6{
    font-size: 15px;
    color: black;
    margin-top: 8px;
    font-weight: lighter;
}





.main-news{
    width: 100%;
    height: 700px;
    background-color: #f5f1f1;
    /* border: 1px solid black; */
}
.news-div{
    /* height: 900px; */
    width: 80%;
    margin: auto;

    display: flex;
}
.news-img{
    margin-left: 20px;
}
.news-img img{
    width: 320px;
    height: 300px;
}
.news-img h6{
    color: gray;
    padding: 3px;
}
.news-img h4{
    padding: 5px;
    font-size: 20px;
    /* font-weight: lighter; */
    font-weight: 600;
}
.news-img h4:hover{
    color: red;
}
.news-img p{
    padding: 5px;
    font-size: 13px;
}
.news-img a{
    padding: 5px;
    font-size: 15px;
    color: black;
    font-weight: 600;
}
.news-img a:hover{
    letter-spacing: 5px;
}







.services{
    width: 80%;
    height: 200px;
    /* border: 1px solid black; */
    margin: auto;
}
.sevices-div{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.serv img{
    margin-left: 40px;
}
.serv h4{
    text-align: center;
    font-weight: 500;
}
.serv h5{
    text-align: center;
    color: gray;
    font-weight: 200;
    font-size: 11px;
}





.main-footer{
    background-color: #000000;
    color: #fff;
    width: 100%;
    height: 400px;
}
.inner-footter{
    width: 80%;
    height: inherit;
    margin: auto;
    /* border: 1px solid white; */
}
.div1{
    display: flex;
   justify-content: space-evenly;
}
/* .h2txt{
    flex-basis: 40%;
} */
.h2txt h2{
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
}
.h2txt h4{
    font-size: 12px;
    font-weight: 100px;
}
/* .email {
    flex-basis: 40%;
    display: flex;
} */
.email input{
    margin-top: 50px;
    width: 250px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}
.email .btn{
    margin-top: 50px;
    padding: 5px;
    width: 150px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
}
 .remix-icon{
    margin-top: 50px;
}
.remix-icon nav ul a {
    text-decoration: none;
}
.remix-icon nav ul a  i{
    font-size: 30px;
    color: rgb(10, 92, 115);
    transition: 2s;
}
.remix-icon nav ul a i :hover{
    transform: rotate(360deg);
} 


.bottom-fotter{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
}
.fotter-logo{
    flex-basis: 19%;
}
.fotter-logo img{
    color: #fff;
}
.bottom-fotter .a h4{
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 18px;
}
.bottom-fotter .a nav ul li{
     list-style: none;
     margin-bottom: 10px;
     
}
.bottom-fotter .a nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 13px;
}
.bottom-fotter .a nav ul li a:hover{
    text-decoration: underline #fff;
    margin-left: 5px;
}




































@media(min-width:781) and (max-width:980){
    
}
@media(min-width:571) and (max-width:780){
    
}
@media(min-width:481) and (max-width:577){
    
}
@media(min-width:361) and (max-width:480){
      .main-header{
        width: 795px;
        /* border: 1px solid black; */
        margin: 0;
        padding: 0;
      }
      .iner-header{
    width: 100%;
       /* border: 1px solid black; */
}
      .logo{
    margin-left: 0px;
    }
    .logo img{
        width: 200px;
    }
    .htxt nav ul li a{
        display: flex;
        font-size: 13px;
         padding: 0px;
    }
    .icon a{
        font-size: 15px;
    padding: 1px;
    }


    .header-txt{
         width: 795px;
    }


    .header-img{
        width: 795px;
    }
    .itxt button{
         margin-left: 120px;
    }


    .img-div{
        width: 795px;
        margin-bottom: 1300px;
        margin-left: 50px;
    }
    .iner-img{
        flex-direction: column;
    }
    .iner-img .photo img{
        width: 500px;
        height: 500px;
    }



     .main{
        width: 795px;
        margin-bottom: 1000px;
     }
    .mtxt h2{
         font-size: 20px;
     }
     .main-nav{
        margin-left: 400px;
     }
     .main-nav nav ul li a{
        font-size: 15px;
          padding: 3px;
     }
     .main-img{
        flex-direction: column;
        margin-left: 180px;
     }
     .b h4{
        font-size: 18px;
        text-align: left;
     }
     .b h5{
        font-size: 15px;
        text-align: left;
     }
    .main-img .b img{
        width: 400px;
        height:500ox;
     }
     #main-img{
    margin-left: 200px;
}




     .main-contant{
        width: 795px;
     }
     .mesg{
           margin-left: 50px;
     }


     .main-news{
         width: 795px;
         height: 1700px;
        margin-bottom: 150px;

     }
     .news-div{
        flex-direction: column;
        margin-left: 200px;

     }


     .services{
         width: 795px;
     }


     .main-footer{
         width: 795px;
     }
     .inner-footter{
        width: 100%;
     }
}


@media(min-width:0px) and (max-width:360px){
    .swiper{
          width: 720px;
    } 
    .menu{
      visibility: visible;
      font-size: 30px;
      margin-left: 650px;
    }
    .header-img{
        justify-content: center;
    } 
    .himg{
        width: 300px;
        margin-left: 0;
    }
    .itxt button{
        /* padding: 0; */
    }
    .main-header{
        width: 720px;
        /* border: 1px solid black; */
        margin: 0;
        padding: 0;
      }
      .iner-header{
    width: 100%;
       /* border: 1px solid black; */
}
      .logo{
    margin-left: 0px;
    }
    .logo img{
        width: 200px;
    }
    .htxt nav ul li a{
     display: none;
    }
    .icon a{
        font-size: 20px;
    padding: 1px;
    }


    .header-txt{
         width: 720px;
    }


    .header-img{
        width: 720px;
    }
    .itxt button{
         /* margin-left: 120px; */
    }


    .img-div{
        width: 720px;
        margin-bottom: 1300px;
        margin-left: 50px;
    }
    .iner-img{
        flex-direction: column;
    }
    .iner-img .photo img{
        width: 500px;
        height: 500px;
    }



     .main{
        width: 795px;
        margin-bottom: 1000px;
     }
    .mtxt h2{
         font-size: 20px;
     }
     .main-nav{
        margin-left: 400px;
     }
     .main-nav nav ul li a{
        font-size: 15px;
          padding: 3px;
     }
     .main-img{
        flex-direction: column;
        margin-left: 180px;
     }
     .b h4{
        font-size: 18px;
        text-align: left;
     }
     .b h5{
        font-size: 15px;
        text-align: left;
     }
    .main-img .b img{
        width: 400px;
        height:500ox;
     }
     #main-img{
    margin-left: 200px;
}




     .main-contant{
        width: 795px;
     }
     .mesg{
           margin-left: 50px;
     }


     .main-news{
         width: 795px;
         height: 1700px;
        margin-bottom: 150px;

     }
     .news-div{
        flex-direction: column;
        margin-left: 200px;

     }


     .services{
         width: 720px;
     }
     .sevices-div{
        margin-top: 0;
     }

     .main-footer{
         width: 720px;
         height: 700px;
     }
     .inner-footter{
        width: 100%;
     }
     .div1{
        flex-wrap: wrap;
     }
     .h2txt{
         flex-basis: 90%;
     }
     .bottom-fotter{
        display: flex;
        flex-wrap: wrap;
     }
     .fotter-logo{
        flex-basis: 90%;
        margin-bottom: 30px;
     }
}